{
	"presets": ["es2015"],
	"plugins": [
		"transform-flow-strip-types",
		"transform-object-rest-spread"
	],
	"env": {
		"production": {
			"ignore": [
				"./**/__mocks__/*.js",
				"./**/__tests__/*.js",
				"./**/*.type.js"
			]
		}
	}
}
